# redactors
.idea/
.vscode/

# package directories
node_modules
jspm_packages

# mock files
mock/

# Serverless directories
.serverless
.webpack/

# credentials
.env

# Build folders
dist
public

# Elastic Beanstalk Files
.elasticbeanstalk
.ebextensions
